---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main>/_private2</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
</style>
