---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main>
		<div></div>
	</main>
</Layout>

<script>
</script>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	div {
		width: 60%;
		height: 20%;
	}
</style>
