---
import Layout from "../../../layouts/Layout.astro"
import { astroI18n } from "astro-i18n"

export const getStaticPaths = (props: any) => {
	console.log((astroI18n as any).internals.toString())
	return [
		{
			params: {
				id: astroI18n.locale,
			},
		},
	]
}
---

<Layout>
	<main>/product/[id]</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
</style>
