---
import Layout from "../../../layouts/Layout.astro"
import { createGetStaticPaths } from "astro-i18n"

export const getStaticPaths = createGetStaticPaths((props) => {
	return [
		{
			params: {
				id: 123,
			},
		},
	]
})
---

<Layout>
	<main>/product/[id]</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
</style>
